*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: Microsoft JhengHei;  
}
/* clear fix */
.feature ul:after,.chef:after,.comment:after,.reserve:after,.reserve form:after,.footer:after,.footer .info ul:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.wrap{
    width: 1024px;
    margin: 0 auto; 
}
.header{
    position: relative;
    background: url(../img/header_desktop.png);
    width: 100%;
    height: 420px;
}
.topmenu{
    background: rgba(0,0,0,0.75);
    height: 56px;
}
.logo{
    float: left;
    margin-top: 16px;
    margin-left: 30px;
}
.menu li{
    float:right;
    list-style-type: none;
    padding: 0 9px;
    line-height: 56px;
}
.menu li a{
    font-size:16px;
    color:#fff;
    padding: 12px 15px;
    text-decoration: none;
}
.menu:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.slogan{
     position: absolute;
     height: 152px;
     
     top: 0;
     bottom: 0;
     right: 0;
     left: 0;
     margin:auto;
     padding: 20px 22px 26px 22px;
     color: #fff;
     background: rgba(0,0,0,0.3);
     text-align: center;
}
.slogan h2{
    font-size: 36px;
    margin-bottom: 16px;
}
.slogan h3{
    text-align: center;
    font-size:16px;
}

.feature{
    background: #efe9e7;
    text-align: center;
    padding: 0 2%;
}
.firstline{
    padding: 50px;
}

.feature h2{
    color: #3D1101;
}
.feature ul li{
    font-size: 16px;
    color: #3D1101;
    width: 31.333%;
    margin: 1%;
    float: left;
    text-align: center;
    margin-bottom: 50px;
}
.feature h3{
    font-size:24px;
    padding: 20px 0 11px 0;
}
.feature ul li p{
    text-align: center;
}

/* 主廚介紹 */
.chef{
    background: #3D1101;
    padding: 0 1%;
}

.chefpic{
    float: left;
    width: 470px;
    height: 460px;
    background: url('../img/main_chef_brown.png') no-repeat;
    background-position: right;
}
.chefintro{
    float: left;
    width: 48%;
    padding: 0%;
    font-size: 20px;
    color: #EFE9E7;
}
.chefintro h2{
  
    margin-top: 61px;
    margin-left: 25px;
}
.chefintro h3{
    margin-bottom: 16px;
}
.chefintro h3,.chefintro p{
    font-size: 16px;
    margin-left: 25px;
}
/* 留言 */
.comment{
    background: #efe9e7;
}
.comment h2{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 32px;
    color: #3D1101;
}
.comment ul{
    float: left;
    list-style-type: none;
    padding: 0 32px;
}
.comment ul li{
    float: left;
    width: 31.333%;
    margin: 1%;
}
.commentpic{
    float: left;
}
.commentpic img{
    max-width: 100%;
    width: 67px;
    height: 67px;
    border-radius: 50%;
}
.text{
    width: 70%;
    float: left;
    margin-left: 13px;
}
.text p{
    color: #3D1101;
    line-height:25px;
    padding-bottom: 22px;
}
.name{
    text-align: right;
    margin-bottom: 28px;
}
/* 定位 */
.reserve{
    background: rgba(250,250,250,0.70);
    padding-top: 25px;
    padding-bottom: 25px;
}
.reserve h2{
    color: #3D1101;
    text-align: center;
}
.reserve h2+h2{
    padding-bottom: 38px;
}
.googlemap{
    float: left;
    width: 48%;
    height: 386px;
    background: url(../img/Map.png) center no-repeat;
}
.form{
    float: right;
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
}
.form label,
.form input{
    display: block;
}
.form label{
    margin-bottom: 6px;
    font-family: PingFangTC-Light;
    font-size: 14px;
    color: #3D1101;
}
.form .input{
    width: 95%;
    height: 35px;
    font-size: 16px;
    padding: 5px 2%;
    border-radius: 5px;
    border: 1px solid #c6c1c1;
}
.form .input{
    font-family: PingFangTC-Light;
    font-size: 16px;
    color: #4A4A4A;
}
.form .vet{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 36px;
    margin-left: 6px;
}
.reserve a{
    display: block;
    text-align: center;
    padding: 6px 0;
    margin: 10px 1%;
    width: 70px;
    text-decoration: none;
    float: right;
    font-family: PingFangTC-Regular;
    font-size: 14px;
    color: #FFFFFF;
}
#confirm{
    background: #F56C23;
    border-radius: 3px;
}
#cancel{
    background: rgba(0,0,0,0.35);
    border-radius: 3px;
}
/* footer */
.footer{
    background: #efe9e7;
    padding: 10px 2%;
    color: #3D1101;
}
.footer ul li{
    margin-top: 10px;
    padding: 1%;
    float: left;
    width: 31.333%;
}
.footerlogo{
    float: right;
    text-align: right;
}
.footerlogo a{
    margin-right: 12px;
}
.footerlogo a:last-child{
    margin-right: 0;
}
#footerlogo{
    margin-bottom: 22px;
}
.info h3{
    font-size: 24px;
    margin-bottom: 16px;
}
@media screen and (max-width: 1024px){
    .wrap{
        width: 100%;
    }
    .chefpic,.chefintro{
        float: left;
        padding: 0%;
        width: 48%;
    }
    .googlemap{
        width: 48%;
    }
    .form{
        width: 48%;
    }
}
@media screen and (max-width: 768px){
    .menu li{
        padding: 0;
    }
    .feature ul li{
        padding: 1%;
        width: 98%;
        margin-bottom: 2%;
    }
    .feature ul li p{
        text-align:center;
        width: 100%;
    }
    .chefpic,.chefintro{
        width: 100%;
    }
    .chefpic{
        background-position: center;
    }
    .chefintro h2{
        margin-top: 30px;
        margin-left: 5%;
    }
    .chefintro h3{
        margin-left: 5%;
    }
    .chefintro p{
        margin: 5%;
    }
    .comment ul li{
        width: 100%;
    }
    .text{
        width: 100%;
        margin-left: 0;
    }
    .googlemap{
        width: 100%;
        background-position: center;
    }
    .reserve a{
        width: 46%;
        padding-left: 1%;
        padding-right: 1%;
    }
    .form{
        width: 96%;
    }
    .footer ul li{
        padding: 1%;
        width: 98%;
        margin-bottom: 2%;
    }
}